.navbar{

    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:999;

    transition:.4s ease;

}

.navbar.scrolled{

    position:fixed;

    background:#fff;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.navbar-container{

    max-width:1500px;

    margin:auto;

    padding:28px 60px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    transition:.35s;

}

.navbar.scrolled .navbar-container{

    padding:16px 60px;

}

.logo{

    font-size:48px;

    font-family:"Cormorant Garamond", serif;

    font-weight:500;

}

.logo span{

    color:#b17050;

    font-style:italic;

    font-size:36px;

}

nav{

    display:flex;

    gap:60px;

}

nav a{

    text-decoration:none;

    text-transform:uppercase;

    letter-spacing:3px;

    color:#222;

    font-size:14px;

    font-family:sans-serif;

}

.btnJourney{

    padding:18px 36px;

    border:1.5px solid #222;

    border-radius:60px;

    text-decoration:none;

    color:#222;

    display:flex;

    align-items:center;

    gap:18px;

    text-transform:uppercase;

    letter-spacing:3px;

    transition:.35s;

}

.btnJourney:hover{

    background:#111;

    color:#fff;

}

@media(max-width:991px){

    nav{

        display:none;

    }

    .navbar-container{

        padding:20px;

    }

    .navbar.scrolled .navbar-container{

        padding:14px 20px;

    }

    .logo{

        font-size:36px;

    }

    .logo span{

        font-size:26px;

    }

}