.principles{

    background:#f7f3ec;
    padding:120px 0;

}

.container{

    max-width:1500px;
    margin:auto;
    padding:0 70px;

}

.headingRow{

    display:flex;
    justify-content:space-between;
    gap:40px;
    margin-bottom:40px;

}

.leftHeading{

    flex:1;

}

.chapter{

    display:block;
    color:#aa593d;
    font-size:13px;
    letter-spacing:4px;
    text-transform:uppercase;
    margin-bottom:40px;
    font-family:sans-serif;

}

.leftHeading h2{

    font-size:70px;
    line-height:.95;
    font-weight:400;
    color:#111;
    font-family:"Cormorant Garamond", serif;

}

.leftHeading em{

    color:#aa593d;
    font-style:italic;
    font-weight:400;

}

.rightHeading{

    width:420px;
    display:flex;
    align-items:center;

}

.rightHeading p{

    font-size:25px;
    line-height:1.6;
    color:#444;
    font-family:sans-serif;

}

.principleGrid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:70px;

}

.card .number{

    font-size:50px;
    color:#aa593d;
    line-height:1;
    margin-bottom:20px;
    font-family:"Cormorant Garamond", serif;

}

.card h3{

    font-size:32px;
    font-weight:400;
    line-height:1.2;
    margin-bottom:20px;
    color:#111;
    font-family:"Cormorant Garamond", serif;

}

.card p{

    font-size:18px;
    line-height:1.9;
    color:#555;
    font-family:sans-serif;

}

@media(max-width:1200px){

    .headingRow{

        flex-direction:column;

    }

    .rightHeading{

        width:100%;

    }

    .leftHeading h2{

        font-size:70px;

    }

    .principleGrid{

        grid-template-columns:1fr;

    }

}

@media(max-width:768px){

    .principles{

        padding:70px 0;

    }

    .container{

        padding:0 20px;

    }

    .leftHeading h2{

        font-size:48px;

    }

    .rightHeading p{

        font-size:18px;

    }

    .card .number{

        font-size:70px;

    }

    .card h3{

        font-size:34px;

    }

    .card p{

        font-size:17px;
        line-height:1.8;

    }

}